@import "tailwindcss";

/* .common_class{
    @apply bg-blue-200 border-2 rounded p-4 border-blue-500 text-gray-800 shadow-lg hover:shadow-2xl
} */

.animate-fadeIn {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 #caret {
    width: 1px;
    margin-left: .25rem;
    height: 1.1em;
    background-color: currentColor;
    display: inline-block;
    vertical-align: middle;
    animation: blink 1s steps(2, start) infinite;
    border-radius: 2px;
  }
  @keyframes blink { 50% { opacity: 0 } }

  /* Respect prefers-reduced-motion */
  @media (prefers-reduced-motion: reduce) {
    #caret { animation: none; opacity: 1; }
  }

  .costom-style{
    @apply p-6 bg-gray-600 text-white rounded-xl shadow transform transition duration-300 hover:translate-x-2
  }

  .costom-style1{
    @apply p-6 bg-amber-500 text-white rounded-xl shadow transform transition duration-300 hover:translate-x-2
  }

  .border-animat{
    @apply relative text-gray-800 hover:text-amber-500
     after:block after:absolute after:bottom-0 after:left-0 
     after:h-[2px] after:w-0 after:bg-amber-600 
     after:transition-all after:duration-300 hover:after:w-full
     
  }


/* Swiper Button Text */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 16px;
    color: white;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 16px;
    color: white;
}

/* Desktop & Tablet Positions */
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -37px;
    top: 60%;
    transform: translateY(-50%);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -34px;
    top: 60%;
    transform: translateY(-50%);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 10px;
        top: 60%;
        transform: translateY(-50%);
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 10px;
        top: 60%;
        transform: translateY(-50%);
    }

    /* Optional: reduce button size on mobile */
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 14px;
    }
}





